.primary-color {
  color: #36353C;
}

.secondary-color {
  color: rgba(116, 125, 140, .7);
}

.letter-spacing {
  letter-spacing: 2px;
}

.dropdown-toggle::after {
  display: none !important;
}

.custom-navbar>.nav-item>.nav-link {
  color: #36353C;
  font-weight: 400;
}

.custom-navbar>.nav-item>.nav-link:hover {
  opacity: 0.8;
}

.mtop-main {
  margin-top: 120px;
}

.title-content>h1 {
  font-size: calc(2.2rem + 1.5vw) !important;
}

.m-row {
  margin: 80px 0;
}

.card-icon-size {
  width: 75px;
}

.big-img {
  width: 300px;
}

#btn-to-top {
  background-color: #71C55D;
  color: #FFFFFF;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.btn-active{
  opacity: 1 !important;
  visibility: visible !important;
}


@media screen and (max-width:992px) {

  .custom-navbar {
    margin: 5px 0 0;
  }

  .mtop-main {
    margin-top: 100px;
  }

}


@media screen and (max-width:768px) {

  .big-img {
    width: 200px;
  }

}



@media screen and (max-width:576px) {

  .m-row {
    margin: 30px 0;
  }

  .big-img {
    width: 150px;
  }

}